body {
	margin: 0 auto;
	padding: 0px;
	width: 65%;
	font-family: Arial;
	font-size: 16px;
	text-align: center;
}

.accordion-panel {
	display: none;
	text-align: left;
}

ul {
  list-style-type: none;
}

header {
	font-size: 2em;
	padding-top: 15px;
	text-align: center;
}

.accordion {
	padding-left: 0px;
}

.accordion-control {
	width: 100%;
	font-size: 1.5em;
	margin: 2.5px;
}

.accordion-panel {
	padding: 10px;
	line-height: 150%;
}